<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" xml:lang="es" lang="es">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="peganda es una empresa líder en ofrecer soluciones de contabilidad y asesoría financiera  online. Nuestros sistemas son flexibles y fáciles de utilizar" />
    <meta name="keywords" content="servicios financieros, servicios familaires, contabilidad, impuestos, servicios familiares, asesoramiento" />
    <meta name="google-site-verification" content="n03I2IgbCOGd4rPLrsuap7KDoAizHIiCVPKuNkelZ0A" />


    <title>Servicios financieros para autónomos y empresas, contabilidad, gestión de patrimonio, asesoramiento familiar </title>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/interface.js"></script>

   <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
   <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"/>
   <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

   <!--dock menu JS options -->
<script type="text/javascript">

	$(document).ready(
		function()
		{
			$('#dock').Fisheye(
				{
					maxWidth: 50,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container',
					itemWidth: 40,
					proximity: 90,
					halign : 'center'
				}
			)
			$('#dock2').Fisheye(
				{
					maxWidth: 60,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container2',
					itemWidth: 40,
					proximity: 80,
					alignment : 'left',
					valign: 'bottom',
					halign : 'center'
				}
			)
		}
	);

</script>
 
  </head>
    <body >
   	<div class="container">
		<div class="span-19">
		 <p><img src="/images/company.png" class="top pull-1 left" alt="test"/>
                 </p>
				<headerpeg> Peganda</headerpeg>
		</div>


		<div class="span-20 prepend-8 last">
				 <div id="h1peg">Recursos online para empresas y profesionales </div>
		</div>


		<div class="span-5 prepend-19 last">
		  <div class="dock" id="dock">
  			<div class="dock-container">
				<a class="dock-item" href="home"><img src="/images/home.png" alt="home" /><span>Home</span></a>
	   			<a class="dock-item" href=services"><img src="/images/portfolio.png" alt="portfolio" /><span>Servicios</span></a>
                        	<a class="dock-item" href="contact"><img src="/images/email.png" alt="contacto" /><span>Contacto</span></a>
	  		</div>
                 </div>
  		</div>
<hr></hr>

		<div class="span-24  last ">
                  <div id="h2peg">Servicios que ofrecemos</div>
                </div>
                  	<hr class="space"> </hr>

                  <% if flash[:notice] -%>
                      <div id="banner"><%= flash[:notice] %></div>
                  <% else %>
                       <div id="banner">
                        Actualmente contamos con más <strong>1.000</strong> clientes que utilizan nuestros sistemas <strong>Online</strong>.
                        </div>
                 <% end -%>

                      <p></p>



	<div class="span-24 last">
              	
              <div class="span-7 colborder ">
                    <div class="package_holder" style="background: #deeef9;">
                    <div class="package_holder_inside">
                      <p> <img src="/images/invoice.png" class="top pull-1 left" alt="contabilidad e impuestos"/></p>
                      <div id="h3peg">
                       <a href="impuestos">Contabilidad e Impuestos</a>
                      </div>
                      <div class="price">desde 20 <span class="dollar">€</span></div>
             
                      
                      <div class="what">
                        <!--span class="how_much"><span>Unlimited Features</span></span-->
                        <ul>
                          <li>Contabilidad Legal</li>
                          <li>Gestión de nóminas</li>
                          <li class="diff">Presentación de impuestos</li>
                          <li class="diff">Trámites mercantiles</li>
                          <li class="diff">Conciliación bancaria</li>
                          <li class="diff">Pago a proveedores</li>
                          <li class="diff">Gestión de riesgos</li>
                          <li class="diff">Servicios especiales a multinacionales</li>

                        </ul>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>

		</div>

              <div class="span-7 colborder ">
                  <div class="package_holder" style="background: #deeef9;">
                    <div class="package_holder_inside">
                      <p> <img src="/images/accountant.png" class="top pull-1 left" alt="contabilidad financiera"/></p>
                    <div id="h3peg">
                      <a href="contabilidad">Contabilidad Financiera</a>
                    </div>
                      <div class="price">desde 20 <span class="dollar">€</span></div>

                      <div class="what">
                        <!--span class="how_much"><span>Unlimited Features</span></span-->
                        <ul>
                          <li>Gestión presupuestaria</li>
                          <li>Planificación financiera</li>
                          <li>Gestión del flujo de caja</li>
                          <li class="diff">Gestión de capital</li>
                          <li class="diff">Working capital management</li>

                          
                        </ul>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>

             </div>
            <div class="span-7 last">
                <div class="package_holder" style="background: #deeef9;">
                    <div class="package_holder_inside">
                      <p> <img src="/images/how.png" class="top pull-1 left" alt="asesoramiento familiar"/></p>
			<div id="h3peg">
                          <a href="familiar">Asesoramiento Familiar</a>
                        </div>
                      <div class="price">desde 20 <span class="dollar">€</span></div>

                      <div class="what">
                        <!--span class="how_much"><span>Unlimited Features</span></span-->
                        <ul>
                        
                          <li>Contabilidad legal</li>
                          <li>Gestión de patrimonio</li>
                          <li class="diff">Asesoramiento financiero</li>
                          <li class="diff">Elaboración de herramientas para la rentabilidad del patrimonio</li>
                         
                        </ul>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>

              
             </div>

             </div>
          <p></p>


<hr></hr>


         <!-- incluimos el footer -->
         <%= render :partial=> "/partial/footer" %>

         <hr class="space"/>

</div>





  <!-- YUI Seed -->
		<script type="text/javascript" src="http://yui.yahooapis.com/3.0.0/build/yui/yui.js"></script>

		<script type="text/javascript">

			//	Call the "use" method, passing in "node-menunav".  This will load the
			//	script and CSS for the MenuNav Node Plugin and all of the required
			//	dependencies.

			YUI({combine: true, timeout: 10000}).use("node-menunav", function(Y) {

				//	Retrieve the Node instance representing the root menu
				//	(<div id="productsandservices">) and call the "plug" method
				//	passing in a reference to the MenuNav Node Plugin.

				var menu = Y.one("#productsandservices");

				menu.plug(Y.Plugin.NodeMenuNav);

				//	Show the menu now that it is ready

				menu.get("ownerDocument").get("documentElement").removeClass("yui-loading");

			});

		</script>



</body>
</html>